form {
    text-align: center;
}

h2 {
    text-align: center;
}

input {
    height: 30px;
    width: 200px;
    border-radius: 5px;
    text-align: center;
}

input:focus {
    border: black 3px solid;
}

.div {
    background-color: rgb(64, 199, 129);
    padding: 10px 20px;
    display: block;
    margin: 10px;
    text-align: center;
}

.div1 {
    padding: 10px 20px;
}

.link {
    color: white;
    padding: 10px 20px;
}

.link:hover {
    color: black;
}

.link:active {
    background: grey;
}

#table {
    border-collapse: collapse;
    text-align: center;
}

#table td, #table th {
    border: 1px solid black;
    padding: 5px;

}

#table th {
    text-align: center;
    background-color: rgb(64, 199, 129);
    color: white;
}

.submit-button {
    font-weight: 700;
    margin-top: 20px;
    font-size: x-large;
    color: white;
    height: 75px;
    width: 150px;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64, 199, 129);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    transition: 0.2s;
}

.submit-button:hover {
    background: rgb(53, 167, 110);
}

.submit-button:active {
    background: rgb(33, 147, 90);
    box-shadow: 0 3px rgb(33, 147, 90) inset;
}

